@import "tailwindcss";

* {
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

@utility center {
  align-items: center;
  justify-content: center;
}
@utility flex {
  display: flex;
  flex-direction: row;
}

@utility flex-col {
  display: flex;
  flex-direction: column;
}
@utility -flex-col {
  display: flex;
  flex-direction: column-reverse;
}
@utility flex-row {
  display: flex;
  flex-direction: row;
}
@utility -flex-row {
  display: flex;
  flex-direction: row-reverse;
}
